@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
:root{
--primary-color:#134C3F;
--light-grey:#6B7DA3;
--belge:#FBF7ED;
--dark-grey:#212326;
--white:#FFF;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*Globle-styles*/
body{
font-family:"roboto" sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
/*button-styles*/
.btn{
    padding: 0.8em;
    border: none;
    color:var(--dark-grey);
    margin: 0 auto;

}
.btn-green{
    background-color: var(--primary-color);
    color: var(--white);
}


/*navigation styles*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-grey);
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    
}
nav ul li{
    padding:0.5em;
}


